<div class="d-flex flex-column gap">
  <div class="fw-bold">
    Size
    <div class="d-flex imgGap">
      <a class="size-section" *ngFor="let size of productDetails?.size; let i=index;"
        [ngClass]="{'selectedSize':selectedSizeIndex==i}" (click)="selectedSize(i)">
        <span>{{size}}</span>
      </a>
    </div>
  </div>
  <div class="fw-bold d-flex justify-content-between w-255">

    <div class="text-muted">

      REVIEWS
    </div>
    <app-star-rating [rating]="productDetails?.rate"></app-star-rating>
  </div>
  <div class="fw-bold w-255">
    <div class="d-flex justify-content-between">
      <div class="text-muted">PRICE</div>
      <div> {{productDetails.price | currency:'USD'}}</div>
    </div>
  </div>


  <div class="fw-bold">
    COLOR
    <div class="d-flex imgGap selectedColorContainer">
      <div class="size-section" *ngFor="let color of productDetails?.colors; let i=index;" [style.background]="color.hex"
        [ngClass]="{'selectedColor':selectedColorIndex==i}" (click)="selectedColor(i)">

      </div>
      <div class="circle delay1"></div>
      <div class="circle delay2"></div>
      <div class="circle delay3"></div>
      <div class="circle delay4"></div>
    </div>
  </div>
</div>
