.products-album-link {
  text-decoration: none;
  color: #000;
}

.bi-bag {
  font-size: 20px;
}

.badge-danger {
  background-color: red;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 8px;
  font-weight: 900;
  position: relative;
  top: 2px;
  right: 6px;
}
