<div class=" mt-4 " >
  <div class="col-10 mx-auto">
   <div class="d-flex justify-content-between ">
     <div class="fs-4">  kalli   </div>
     <div *ngIf="!(productsAlbumService.isHomePage|async)"><a class="products-album-link" [routerLink]="['/']"> <i class="bi bi-arrow-left"></i> BACK</a></div>
     <div>
       <i class="bi bi-bag">

       </i>
       <div class="badge badge-danger d-flex justify-content-between align-items-center">
        <span> {{productsAlbumService.cartItemsCountSubject|async}} </span>

       </div>
 </div>
   </div>
 </div>
</div>


<router-outlet (activate)="changeOfRoutes()"></router-outlet>
