.products-album-link {
  text-decoration: none;
  color: #000;
}

.mt-6 {
  margin-top: 7rem;
}

.gap {
  gap: 44px;
}

.imgGap {
  gap: 6px;
}

.containerGap {
  gap: 44px;
}

.overlay {
  position: block;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease-in-out;
}

.selectedImage {
  width: 346px;
  height: 346px;
}

.size-section,
.selectedSize {
  border-radius: 100%;
  border: solid 1px #000;
  font-size: 14px;
  padding: 14px;
  margin-top: 5px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.selectedSize {
  background-color: #000;
  color: #fff;
}

.text-muted {
  color: #9c9c9c !important;
}

.w-255 {
  width: 255px;
}

.selectedColorContainer {
  position: relative;

  &:hover .delay1 {
    animation: waves 2.5s linear;
    animation-delay: .1s;
  }

  &:hover .delay2 {
    animation: waves 2.5s linear .7s forwards,
  }

  &:hover .delay3 {
    animation: waves 2.5s linear 1.3s forwards;
  }

  &:hover .delay4 {
    animation: waves 2.5s linear 1.9s forwards;
  }
}

.selectedColor {
  border: solid #d1d1d1;
  animation: 1s linear;

}


.circle {
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: solid #0194c7;
  margin: 10px;
  transition: 5s ease;
  position: relative;
  top: 0px
}


@-webkit-keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(4);
    opacity: 0;
  }
}
