


<div class="mt-6 bg-whitesmoke">
  <div class="col-10 mx-auto d-flex gap">
    <div class="row">
      <div class="col">

        <app-product-identification [productDetails]="productDetails" (selectImageEvent)="selectImage($event)" [imagesListInput]="imagesList" [selectedImageIndex]="selectedImageIndex"></app-product-identification>
      </div>
      <div class="col"  [@bounceDiv]="bounceDivState" >
        <img  class="selectedImage" [src]="selectedImage" alt="">
      </div>
      <div class="col">
        <app-product-meta-data  [productDetails]="productDetails" (selectedColorEvent)="selectedColor($event)" ></app-product-meta-data>

      </div>
    </div>

  </div>
</div>


<div class="col-10 bg-white mx-auto  h-514  mt-6-5">

 <div class="row pt-3 align-items-center">
  <a class=" col " (click)="openModal()" ><i class="bi bi-play-circle"></i></a>
  <div class="col d-flex imgGap"> <i class="bi bi-arrow bi-arrow-left-short" *ngIf="index>0"  (click)="backward()" ></i> <i *ngIf="index<(products.length-1)" class="bi bi-arrow bi-arrow-right-short" (click)="forward()"></i>    </div>

  <div class="col btn btn-dark" (click)="addToCart()">
    ADD TO CART
  </div>
  <a class="col "  ><i class="bi bi-heart"></i></a>

  </div>
 </div>


