@import '../../styles.scss';
.products-album-link {
  text-decoration: none;
  color: #000;
}

.mt-6 {
  margin-top: 7rem;
}

.gap ,.gap-44{
  gap: 44px;
}

.imgGap {
  gap: 6px;
}



.selectedImage {
  width: 346px;
  height: 346px;
}


.text-muted {
  color: #9c9c9c !important;
}

.w-255 {
  width: 255px;
}






.bg-white {
  background-color: #fff;
}

.h-514 {
  height: 60px;
  padding-left: 50px;
  @include breakpoint(sm){
  height: max-content;

  }
  a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-size: 29px;
  }
}


.bi-arrow{
  font-size: 25px;
  font-weight: 1000;
  cursor: pointer;
}
.mt-6-5{
  margin-top: 6.5rem;
}
.btn-dark{
  // color:#fff;
  border-radius: 0;
  width: max-content;
  @include breakpoint(sm){
     margin-top: 10px;
    margin-bottom: 10px;
  }
}
.gap-44{
  @include breakpoint(sm){
    gap:0;
  }
}




.selectedImage:hover {
  animation: bloop 1s linear;

}

@keyframes bloop {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
