
<div>
  <div mat-dialog-title class="d-flex justify-content-end">
    <a  class="btn-close" mat-dialog-close  >X</a>
  </div>
  <div mat-dialog-content>
    <!-- <iframe width="560" height="315" [src]="url" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe> -->
            <iframe width="560" height="315" [src]="url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  </div>
</div>

