
  <div class="d-flex flex-column gap">
    <div class="fw-bold">
      <p>{{productDetails?.category}}</p>
      <p class="fs-4 ">{{productDetails?.title}}</p>
    </div>
    <div class="text-muted">{{productDetails?.description}}</div>
    <div class="d-flex imgGap">
      <div *ngFor="let image of imagesListInput; let i = index">
        <div class="overlay ">
          <img [src]="image" [style.opacity]="selectedImageIndex === i ? 0.7 : 1" width="50" height="50" alt=""
            (click)="selectImage(i,image)">

        </div>
      </div>
    </div>
  </div>

